# .prettierrc
.idea/
.DS_Store
.history/
.vscode/
originals/
original-style.css
roadmap.md
git_history_full.md
index_history_stats.md
index_history.md
style_history.md
maugallery_history.md
scripts_history.md
brouillon.md
audit-lighthouse-desktop-before.pdf